<div class="container">
  <h3 class="card-header">Links</h3>
  <br>
  <h4>Useful links</h4>
  <ul>
    <li><a href="http://www.pub.ro">University POLITEHNICA of Bucharest</a></li>
    <li><a href="http://www.electro.pub.ro">Electrical Engineering Faculty</a></li>
    <li><a href="http://www.lmn.pub.ro">Numerical Methods Laboratory</a></li>
  </ul>
  <br>

  <h4>Local links</h4>
  <ul>
    <li><a href="http://ro.wiki.lmn.pub.ro">Wiki LMN</a></li>
    <li><a href="http://atlas.lmn.pub.ro">ATLAS Cluster</a></li>
  </ul>
  <br>

  <h4>Confereces</h4>
  <ul>
    <li><a href="http://www.et.utcluj.ro/mps">MPS 2010</a></li>
    <li><a href="http://oipe.tu-sofia.bg/">OIPE 2010</a></li>
    <li><a href="http://snet.elth.pub.ro/snet2010/">SNET 2010</a></li>
    <li><a href="http://www.compumag2011.com">COMPUMAG 2011</a></li>
    <li><a href="http://www.atee2011.elth.pub.ro">ATEE 2011</a></li>
    <li><a href="http://cefc2012.org/">IEEE CEFC 2012</a></li>
    <li><a href="http://scee2012.ethz.ch/">SCEE 2012</a></li>
    <li><a href="http://www.oipe2012.com/">OIPE 2012</a></li>
    <li><a href="http://www.electro.pub.ro/cercetaremanifestari.html">SNET 2012</a></li>
    <li><a href="http://www.iceaa-offshore.org/">ICEAA 2012</a></li>
    <li><a href="http://www.compumag2013.com/">COMPUMAG 2013</a></li>
    <li><a href="http://www.atee.upb.ro/">ATEE 2013</a></li>
  </ul>
</div>
