<div class="container">
  <h3 class="card-header" style="text-align: left">Professors and Postdocs</h3>
  <br>
  <div class="row">

    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img height="200" width="200" class="rounded-circle mx-auto d-block" src="http://lmn.pub.ro/images/profu.jpg" alt="Card image cap">
        <div class="card-body">
          <h6 class="card-title"><i>Prof. Dr. Ing. Daniel </i><b>IOAN</b></h6>
          <p class="card-text">
            <b>Email: </b>daniel@lmn.pub.ro<br>
            <b>Home page: </b>http://www.lmn.pub.ro/~daniel
          </p>
          <a href="#" class="btn btn-primary">View More</a>

        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img height="200" width="200" class="rounded-circle mx-auto d-block" src="http://lmn.pub.ro/images/profu.jpg" alt="Card image cap">
        <div class="card-body">
          <h6 class="card-title"><i>Prof. Dr. Ing. Daniel </i><b>IOAN</b></h6>
          <p class="card-text">
            <b>Email: </b>daniel@lmn.pub.ro<br>
            <b>Home page: </b>http://www.lmn.pub.ro/~daniel
          </p>
          <a href="#" class="btn btn-primary">View More</a>

        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img height="200" width="200" class="rounded-circle mx-auto d-block" src="http://lmn.pub.ro/images/profu.jpg" alt="Card image cap">
        <div class="card-body">
          <h6 class="card-title"><i>Prof. Dr. Ing. Daniel </i><b>IOAN</b></h6>
          <p class="card-text">
            <b>Email: </b>daniel@lmn.pub.ro<br>
            <b>Home page: </b>http://www.lmn.pub.ro/~daniel
          </p>
          <a href="#" class="btn btn-primary">View More</a>

        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img height="200" width="200" class="rounded-circle mx-auto d-block" src="http://lmn.pub.ro/images/profu.jpg" alt="Card image cap">
        <div class="card-body">
          <h6 class="card-title"><i>Prof. Dr. Ing. Daniel </i><b>IOAN</b></h6>
          <p class="card-text">
            <b>Email: </b>daniel@lmn.pub.ro<br>
            <b>Home page: </b>http://www.lmn.pub.ro/~daniel
          </p>
          <a href="#" class="btn btn-primary">View More</a>

        </div>
      </div>
    </div>
  </div>
  <h3 class="card-header" style="text-align: left">Students, MSc & PhD students</h3>
  <br>
  <div class="row">

    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img height="200" width="200" class="rounded-circle mx-auto d-block" src="http://lmn.pub.ro/images/profu.jpg" alt="Card image cap">
        <div class="card-body">
          <h6 class="card-title"><i>Prof. Dr. Ing. Daniel </i><b>IOAN</b></h6>
          <p class="card-text">
            <b>Email: </b>daniel@lmn.pub.ro<br>
            <b>Home page: </b>http://www.lmn.pub.ro/~daniel
          </p>
          <a href="#" class="btn btn-primary">View More</a>

        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img height="200" width="200" class="rounded-circle mx-auto d-block" src="http://lmn.pub.ro/images/profu.jpg" alt="Card image cap">
        <div class="card-body">
          <h6 class="card-title"><i>Prof. Dr. Ing. Daniel </i><b>IOAN</b></h6>
          <p class="card-text">
            <b>Email: </b>daniel@lmn.pub.ro<br>
            <b>Home page: </b>http://www.lmn.pub.ro/~daniel
          </p>
          <a href="#" class="btn btn-primary">View More</a>

        </div>
      </div>
    </div>

    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img height="200" width="200" class="rounded-circle mx-auto d-block" src="http://lmn.pub.ro/images/profu.jpg" alt="Card image cap">
        <div class="card-body">
          <h6 class="card-title"><i>Prof. Dr. Ing. Daniel </i><b>IOAN</b></h6>
          <p class="card-text">
            <b>Email: </b>daniel@lmn.pub.ro<br>
            <b>Home page: </b>http://www.lmn.pub.ro/~daniel
          </p>
          <a href="#" class="btn btn-primary">View More</a>

        </div>
      </div>
    </div>
  </div>

</div>
