<video autoplay loop muted id="background">
  <source
    src="https://player.vimeo.com/external/179738669.sd.mp4?s=fb42e7e2c8c6ff0d5d0b03dfa6aa8af830019f79&profile_id=165"
    type="video/mp4">
</video>
<div class="container">
  <div class="row">
    <div class="col-xs-4 col1 center-block">
    </div>
  </div>
</div>
<div class="container">
  <h5>
    <p>Who we are</p>
    <blockquote class="blockquote text-center">
      <p class="mb-0">Welcome to Numerical Methods Laboratory (Laboratorul de Metode Numerice). LMN is a higher education and research
        unit of POLITEHNICA University of Bucharest, Romania (PUB). Its mission is to promote, as excellence center, the
        professional use of computers in electrical engineering.</p>
      <footer class="blockquote-footer">Prof. dr. ing.<cite title="Source Title"> Daniel IOAN</cite></footer>
    </blockquote>
    <button class="btn btn-secondary btn-lg center-block"> About us</button>
  </h5>
</div>
