<div class="container">
  <h3 class="card-header">Projects</h3>
  <br>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">CHAMELEON RF</h5>
          <p class="card-text">WComprehensive High-Accuracy Modeling of ELectro-magnetic Effects in Complete Nanoscale
            RF
            blocks.</p>
          <a href="#" class="btn btn-primary">Project details</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">CHAMELEON RF</h5>
          <p class="card-text">WComprehensive High-Accuracy Modeling of ELectro-magnetic Effects in Complete Nanoscale
            RF
            blocks.</p>
          <a href="#" class="btn btn-primary">Project details</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">CHAMELEON RF</h5>
          <p class="card-text">WComprehensive High-Accuracy Modeling of ELectro-magnetic Effects in Complete Nanoscale
            RF
            blocks.</p>
          <a href="#" class="btn btn-primary">Project details</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">CHAMELEON RF</h5>
          <p class="card-text">WComprehensive High-Accuracy Modeling of ELectro-magnetic Effects in Complete Nanoscale
            RF
            blocks.</p>
          <a href="#" class="btn btn-primary">Project details</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">CHAMELEON RF</h5>
          <p class="card-text">WComprehensive High-Accuracy Modeling of ELectro-magnetic Effects in Complete Nanoscale
            RF
            blocks.</p>
          <a href="#" class="btn btn-primary">Project details</a>
        </div>
      </div>
    </div>

  </div>
</div>
