<div class="container">
  <h3 class="card-header">Projects</h3>
  <br>
  <ul>
    <li>Electromagnetic modelling - Computational Electromagnetics (COMPUMAG);
    <li>Modele de ordin redus (MOR);
    <li>Scientific Computation in Electrical Eng. (SCEE - CSE);
      modelling, simulations, optimizations;
    <li>High Performance Computing (HPC) with Scientific Applications;
    <li>Computer aided education (CAEE);
    <li>Electronic Design Automation (EDA) of VLSI Systems - Tools for model extraction (TCAD);
    <li>Electromagnetic Nondistructive Evaluations and Testing (ENDE, NDT);
    <li>Coupled Problems - Microfluidics, Multiphysics.
  </ul>
</div>
