<div class="container">
  <h3 class="card-header">Projects</h3>
  <br>
  <ul>
    <li>Six university textbooks;
    <li>over ten chapters in international books
    <li>over hundred papers and communications published in Romania and abroad (COMPUMAG, IEEE CEFC, EUROCHIP, ENDE, EDTC, RJJSAEM, SCEE, IGTE, MicroFlu, IEEE SPI, ISEF);
    <li>over fifty articles in the ISI rated national and international journals (IEEE Trans. on Magnetics, COMPEL, Revue Roumaine des Science Tehniques, PHISICA B)
  </ul>
</div>
