<div class="container">
  <h3 class="card-title">Resources</h3>
  <br>

  <ul class="nav nav-pills mb-3 nav-justified" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
         aria-controls="pills-home" aria-selected="true">Software</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
         aria-controls="pills-profile" aria-selected="false">Hardware</a>
    </li>
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
      <div class="card">
        <div class="row">
          <div class="col-md-6">
            <div class="card-block">
              <h4 class="card-title">MATLAB vR2016a</h4>
            </div>
            <div class="card-text">
              <ul>
                <li>Parallel Computing Toolbox</li>
                <li>Distributed Computing Server</li>
                <li>Optimization Toolbox</li>
                <a href="http://www.mathworks.com/">[MathWorks site]</a>
              </ul>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card-img-bottom"
                 style="background: url(https://datacademy.files.wordpress.com/2016/06/matlab-logo.jpg?w=397&h=223&crop=1) center no-repeat;">
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-6">
            <div class="card-img-bottom"
                 style="background: url(http://donar.messe.de/exhibitor/hannovermesse/2018/F126250/clogo-273x273-347570.jpg) center no-repeat;">
            </div>
          </div>
          <div class="col-md-6">
            <div class="card-block">
              <h4 class="card-title">COMSOL v5.2</h4>
            </div>
            <div class="card-text">
              <ul>
                <li>COMSOL Multiphysics</li>
                <li>AC/DC Module</li>
                <li>LiveLink for Matlab</li>
                <li>MEMS Module</li>
                <li>Optimization Module</li>
                <li>RF Module</li>
                <a href="http://www.comsol.com/">[Comsol site]</a>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
      <div class="card">
        <div class="row">
          <div class="col-md-6">
            <div class="card-block">
              <h4 class="card-title">ATLAS Beowulf Cluster</h4>
            </div>
            <div class="card-text">
              The Beowulf cluster named Advanced Technology Laboratory Server (ATLAS) was setup at LMN for the purposes
              of research, training and transfer of knowledge in HPC. The ATLAS Beowulf Cluster consists of 14 nodes,
              each node being equipped with two quad core processors (8 nodes with INTEL Xeon Nehalem 2.66GHz and
              72-96GB RAM, and 6 nodes with AMD Opteron Barcelona 2.3GHz with 16GB RAM).
            </div>
          </div>
          <div class="col-md-6">
            <div class="card-img-bottom"
                 style="background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/Wikimedia_Foundation_Servers-8055_35.jpg/1200px-Wikimedia_Foundation_Servers-8055_35.jpg) center no-repeat;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
